main = "./dist/worker.mjs"
compatibility_date = "2025-03-10"
workers_dev = false # Enable it for development purposes, and if you are want a domain ending with .workers.dev
account_id = "your-account-id-here" # Log in dash.cloudflare.com, select an account, go to Workers, and copy Account ID

[build]
command = "npm install && npm run build"

[env.production]
name = "pp-issuer-production"
route = { pattern = "pp-issuer.example.test", custom_domain=true }

[env.production.triggers]
crons = ["0 0 * * *"]

[env.production.vars]
DIRECTORY_CACHE_MAX_AGE_SECONDS = "86400"
ENVIRONMENT = "production"
KEY_LIFESPAN_IN_MS = "172800000" # 48h
KEY_NOT_BEFORE_DELAY_IN_MS = "7200000" # 2h
MINIMUM_FRESHEST_KEYS = "1"
ROTATION_CRON_STRING = "30 12 * * *"
SENTRY_SAMPLE_RATE = "0" # Between 0-1 if you log errors on Sentry. 0 disables Sentry logging. Configuration is done through Workers Secrets
SERVICE = "pp-issuer-production"

[[env.production.r2_buckets]]
bucket_name = 'pp-issuer-keys-production' # wrangler r2 bucket create pp-issuer-keys-production. Pricing and free tier described on https://developers.cloudflare.com/r2/pricing
preview_bucket_name = 'pp-issuer-keys-production-local'
binding = 'ISSUANCE_KEYS'

[env.production.version_metadata]
binding = "VERSION_METADATA"

[[env.production.workflows]]
name = "key-backup-workflow"
binding = "KEY_BACKUP_WF"
class_name = "KeyBackupWorkflow"
